/**{
}*/
*{
    font-family: Gamma;
}
body{
    overflow-x: hidden!important;
 }   
@font-face{
    font-family: Gamma;
    src: url(GammaBookRegular.otf);
}
header{
    background-color: white;
}
.menu{
    width: auto;
}
#logoimg{
    width: 200px;
    height: 100px;
}
.nav-link{
    text-decoration: none!important;
    color: #296F3D!important;
    font-weight: bold;
}
.nav-item{
    margin-right: 5px;
}
#banner{
    margin: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    background-image: url('https://i.ibb.co/qRb2S3S/IMG-1236.jpg');
    background-size:cover;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: center;
}
#opacity{
    background-color: black;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    padding: 0;
    margin: 0;
}
#containerBanner{
    padding: 0;
    height: 600px;
    width: 100%;
}
#imgMenu{
    width: 30px;
    height: 30px;
}
.titlesBanner{
    /*border: 1px solid black;*/
    width: 100%;
    height: auto;
    color: white;
}
.redes{
    height: 40px;
    width: 40px;
    margin-left: 15px;
}
#btn{
    font-size: 25px;
}
.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:13px;
}
#servicios{
    height: 250px;
}
#titleServicios{
    width: 100%;
    border: 1px solid black;
}
.titlePrincipal{
    border-bottom: solid #25d366 2px;
}
#titlePatologies{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    border-bottom: solid #25d366 2px;
}
#contactList{
    width: 90%;
    padding: 0!important;
}
.nopadding{
    padding: 0!important;
}
.list-group-item{
    border: 0px!important;
}

#patologia3 img, #patologia5 img{
    object-fit: cover;
}
.card-title{
    font-weight: bold;
}
